<h1><%=pluralize(@dimensions.size,'Dimension') %></h1>


<ul>
  <% @dimensions.each do |dimension| %>
      <li><%=  link_to dimension.dimensie_naam, dimension %> | <%=  dimension.dimensie_code %> |
      <%= dimension.dimensie_omschrijving %> </li> <br>
  <%end%>
</ul>

<br>


